

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
   font-family: 'Exo 2', sans-serif;
   margin: 0;
   padding: 0;
   background-color: #000000;
}
   
  
.center {
   text-align: center;
   margin: auto;
   width: 100%;
   padding: 10px;
}

.nav-title {
   color: #FFFFFF;
   margin-left: 20px;
   padding-bottom: 30px;
   height: 60px;
   font-size: 26px;
}

.nav-logo {
   margin: 8px;
   width: 45px;
   height: 45px;
}

.navbar-black {
   height: 60px;
   width: 100%;
   background: #000000;
   opacity: 0.8;
   filter: alpha(opacity=80);
   left: 0;
}

.btn-buy {
   height: 60px;
   width: 160px;
   float: right;
   display: inline;
   position: relative;
   top: 50%;
   padding: 0;
   font-size: 22px;
   color: white;
   text-align: center;
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
   background: #27ae60;
   border: 0;
   border-bottom: 0px solid #27ae60;
   cursor: pointer;
   -webkit-box-shadow: inset 0 -2px #27ae60;
   box-shadow: inset 0 -2px #27ae60;
}

.btn-buy:before {
   background: #1F874B;
}

.btn-perform {
   height: 60px;
   width: 160px;
   float: right;
   display: inline;
   position: relative;
   top: 50%;
   padding: 0;
   font-size: 22px;
   color: white;
   text-align: center;
   text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
   background: #2980b9;
   border: 0;
   border-bottom: 0px solid #2980b9;
   cursor: pointer;
   -webkit-box-shadow: inset 0 -2px #2980b9;
   box-shadow: inset 0 -2px #2980b9;
}

.btn-perform:before {
   background: #1D608C;
}

.btn-perform:active {
   top: 1px;
   outline: none;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.fill-width {
   width: 100%;
   margin-left: 0px;
   margin-right: 0px;
}

.jumbotron {
   background: url("../img/Tennibot_angle.jpg") center;
   right: 0;
   left: 0;
   bottom: 0;
   margin-top: 60px;
   margin-bottom: 0px;
   height: 900px;
   width: 100%;
   background-size: cover;
   overflow: hidden;
}

.jumbotron > h1 {
   color: #FFFFFF;
}

.pane {
   width: 100%;
   background-color: #161616;
   position: relative;
}

.pane > h3 {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 40px;
}

.pane-small {
   height: 300px;
}

.pane-medium {
   height: 600px;
}

.main-pane {
  height: 100%;
}

.main-pane > h3 {
   margin-top: 100px;
   margin-left: 240px;   
}

.main-feature {
   color: #FFFFFF;
}

.jumbo-bg {
   width: 100%;
   height: 100%;   
   margin-top: 12px;
}

.feature-grid-item {
   width: 50%;
   position: relative;
   margin: 0 auto;
}

.feature-grid-item > h3, p {
   color: #FFFFFF;
   text-align: center;
}

.feature-grid-item-icon {
   display: block;
   margin: 0 auto;
}









